tqdm==4.40.1
numpy==1.22.0
torch==1.4.0
matplotlib==3.1.2
thop==0.0.31.post1912272122
opencv_python==4.2.0.32
scipy==1.4.1
torchvision==0.5.0
scikit_image==0.16.2
torchstat==0.0.7
Cython==0.26.1
ipython==7.15.0
Pillow==7.1.2
pretrainedmodels==0.7.4
scikit-image==0.16.2
